language: node_js
sudo: false
node_js:
  - '0.10'
  - '0.12'
  - '4'
  - '5'
before_install:
  - "mkdir -p ~/.npm"
install:
  - npm install
  - npm install git://github.com/hybridgroup/cylon.git
  - npm install -g jshint istanbul codeclimate-test-reporter
script:
  - make ci
  - CODECLIMATE_REPO_TOKEN=48d1deae960e14e45e96c1c7799e70e2af6582595d0d1c1a272095049ebc6ae3 codeclimate-test-reporter < coverage/lcov.info
